
$darkBlue: #203353;
$darkGray: #1B2028;
$lightGrey: #CFD4D5;
%font-sixteen {
    font-size:1rem;
    font-weight:400;
    line-height:100%;
}

%custom-btn {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border-color: $darkBlue;
    background-color:$darkBlue;
    @extend %font-sixteen;
    color:white;
    padding:16px 30px;
    transition: 0.2 ease-in-out;
}

%custom-btn-hover{
    background-color: #fff;
    color: $darkBlue;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    @media screen and (min-width: 1155px){
        padding:1.5rem 2.5rem;
    }

    .navbar-brand{
        width:18rem;
        .logo{
            width:100%;
            margin-top: -9px;
        }
    }
    .collapse{
        .nav--container{
            width:100%;
            .navbar-nav{
                @media screen and (max-width: 992px) {
                    margin-top:20px;
                }
                .nav-link{
                    @media screen and (min-width: 1326px) {
                        padding-left:20px;
                        padding-right:20px;
                    }
                    @media screen and (max-width: 992px) {
                        text-align:center;
                        padding:12 px;
                    }
                    color:$darkBlue;
                    @extend %font-sixteen;
                    text-transform:uppercase;
                    transition: 0.2s ease-in-out;
                }
                .nav-item{
                    .dropdown-menu{
                        .dropdown-item{
                            @extend %font-sixteen;
                            color:$darkBlue;
                            text-transform: uppercase;
                            @media screen and (max-width: 992px){
                                 text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .reservation-btn{
            @media screen and (max-width:992px) {
                margin: 0 auto;
                display: block;
                width: 200px;
                margin-top: 20px;
            }
            @extend %custom-btn;
            @media screen and (max-width:1200px) {
                padding: 10px 20px;
            }
        }
        .reservation-btn:hover{
            @extend %custom-btn-hover;
        }
    }
}

.single-slide-div{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height:500px;
    .slide-container{
        height:100%;
        .slide-text-column{
            height:100%;
            .text-div{
                position:absolute;
                top:50%;
                transform: translateY(-50%);
                color:white;
                h1{
                    text-align:right;
                }
                p{
                    text-align:justify;
                }
            }
        }
    }
}